extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Scott Adams

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | I am a self-driven, independent, life-long learner with enjoyment for mathematics, electronics, software development, linguistics, and solving illaborate problems.
            | Currently, I am a full-time computer science student at Tompkins Cortland Community College (Dryden, New York) with plans to transfer to a university, while also enrolled in the "Full Stack JavaScript Techdegree Program" at Treehouse. My familiarity with technologies is, but not limited to, through use of operating systems, such as Windows, and GNU/Linux (Arch, Ubuntu distribtions), and programming languages, such as Java, Python, Bash, and JavaScript. 
            | On the side, I have experimented with writing assembly for the ARM processor on the Raspberry Pi, and when time permits, practicing my C skills. My recent exposure to web development has allowed me to gain new insight, and with my current knowledge, I am building a portfolio to showcase to potential employers, whether it be through freelance or organization . I am based in Ithaca, New York.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li HTML5
          li CSS
          li Vanilla JavaScript
          li JQuery
          li Node.js
          li Express web framework
          li Pug template engine
          li Git
          li Bash

        h6 Contact Info
        ul
          li 607-229-5486
          li sradms0@openmailbox.org

        a.button.expanded(href='https://www.linkedin.com/in/scott-r-adams' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/sradms0' target="_blank") GitHub
        a.button.expanded(href='https://twitter.com/sradms0' target="_blank") Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  
